<nav>
  <!--<a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="http://www.gravatar.com/avatar/{{ site.data.theme.social.gravatar }}?s=200" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/ryankazokas.jpg" id="logo" style="max-width:70%;" alt="Ryan Kazokas | Software Developer"/>
    {% endif %}
  </a>-->
  <h2><a href="/about">{{ site.data.theme.name }}</a></h2>

        <!-- Sidebar -->
        <div id="sidebar-wrapper">
            <ul class="sidebar-nav">
                <li>
                    <a href="/">Blog Posts</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/about">About</a>
                </li>
            </ul>
        </div>
        <!-- /#sidebar-wrapper -->
  <div id="social">
    {% include social.html %}
  </div>
</nav>
